body {
    background-color: #999999;
}
.canvas {
    color: #1E5799;
    font-family: Arial;
    font-size: 18px;
    margin: 0 auto;
    width: 960px;
}
header {
    border-bottom: 1px solid #1E5799;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    background: linear-gradient(to bottom, #1e5799 0%,#2a70e0 74%,#207cca 100%,#7db9e8 100%,#3724e5 100%);
    padding: 10px;
    margin-right: 15px;
    border-radius: 5px;
}
content li {
    width: 45%;
    margin-bottom: 25px;
    color: #999999;
}
li img {
    height: 18px;
    vertical-align: bottom;
}
a {
    color: #ffffff;
    text-decoration: none;
}
