.canvas {
    font-family: Arial;
    font-size: 18px;
    margin: 0 auto;
    width: 960px;
}
header {
    border-bottom: 1px solid #101010;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    background-color: #101010;
    padding: 10px;
    margin-right: 15px;
    border-radius: 5px;
}
content li {
    width: 45%;
    margin-bottom: 25px;
    color: #ffffff;
}
li img {
    height: 18px;
    vertical-align: bottom;
}
a {
    color: #ffffff;
    text-decoration: none;
}
